mat-card {
    max-width: 40%;
    max-height: 80%;
    margin: 2em auto;
    text-align: -webkit-center;
    background-color: #5cdb95;
}
.titulo{
   text-align: center;
    margin-left: auto;
  margin-right: auto;
}
mat-radio-button{
    margin-left:20px;
}

table{
    text-align: center;
    margin-left: auto;
  margin-right: auto;
  border-spacing: 2em;
}
.contact-center {
    text-align: -webkit -center;
}
.full-width{
    width: 100%;
}
input{
background-color: #EDF5E1;
width: 70%;
}
::placeholder{
  color:#05386B;
}
mat-label{
color: #05386B;
}
textarea{
  background-color: #EDF5E1;
}
.btsubmit{
  color: #5cdb95;
  background-color: #05386B;
}
