
<mat-card >
  <mat-card-title class="titulo">
    Quejas y Sugerencias
  </mat-card-title>
  <form [formGroup]="FormData" (ngSubmit)="onSubmit(FormData.value)">
    <table>
      <tr >
        <mat-label>
          Introduzca su email
        </mat-label>
        <p>
          <input matInput type="email" class="form-control" name="Email" aria-describedby="emailHelp" placeholder="Enter email"formControlName="Email">
        </p>
      </tr>
      <tr>
        <mat-label>
          Introduzca su nombre
        </mat-label>
        <p>
         <input matInput type="text" class="form-control" name="Fullname" placeholder="Full Name" formControlName="Fullname">
        </p>
      </tr>
      <tr>
        <mat-label>
          Introduzca su comentario acerca de cómo podríamos mejorar un servicio
        </mat-label>
      </tr>
      <tr>
        <mat-form-field>
        <textarea matInput class="form-control" formControlName="Comment" name="Comment"></textarea>
      </mat-form-field>
      </tr>
      <tr>
        <button mat-raised-button type="submit" class="btsubmit" [disabled]="!FormData.valid">Submit</button>

      </tr>
    </table>

  </form>
</mat-card>
