

<table>
  <thead>
  </thead>
  <tbody>
 <div><input type="text" id="name" name="nameb" required
    minlength="4" maxlength="8" size="10" placeholder="introduzca texto"  (ngModelChange)="tit" ></div>
    <input type="text" id="namea" name="nameb" required
    minlength="4" maxlength="8" size="10" placeholder="introduzca texto" [(ngModel)]="titulo" (keyup)="getLibros(titulo)" >
<p>{{titulo}}</p>



<div *ngFor="let book of Docopenbook">
  <h4 class="prueba">
      <p> {{book.title_suggest}}</p>


      <p><img src='https://covers.openlibrary.org/b/id/{{book.cover_i}}-M.jpg'></p>

  </h4>
</div>






<div *ngFor="let book of booksp">
  <h4 class="prueba">
      <p> {{book.volumeInfo['title']}}</p>
<p><img src={{book.volumeInfo.imageLinks.thumbnail}}></p>

  </h4>
</div>


      <div *ngFor="let book of books">
          <h4 class="prueba">
              <p> {{book.volumeInfo['title']}}</p>
<p><img src={{book.volumeInfo.imageLinks.thumbnail}}></p>

          </h4>
      </div>
  </tbody>
</table>
