<mat-toolbar class="navbar">
  <div><button mat-button class="nav-link" [routerLink]="['/home']">
    <h1>Listopia</h1>
  </button>
</div>
  <div>
    <button mat-button class="nav-link" [routerLink]="['/home']">
      <mat-icon >book</mat-icon>
      Libros
    </button>
    <button mat-button class="nav-link" [routerLink]="['/peliculas']">
      <mat-icon >movie</mat-icon>
      Peliculas
    </button>
    <button mat-button class="nav-link" [routerLink]="['/contacto']">
      <mat-icon >contact_mail</mat-icon>
      Contacto
    </button>

    <!--<a class="nav-link" [routerLink]="['/welcome']">Home </a>
    <a class="nav-link" [routerLink]="['/busquedaavanzada']">Avanzada </a>
    <a class="nav-link" [routerLink]="['/busqueda']">busqueda </a>
    <a class="nav-link" [routerLink]="['/pruebas']">pruebas </a>
    <a class="nav-link" [routerLink]="['/contacto']">Contacto </a>-->

     </div>
</mat-toolbar><router-outlet></router-outlet>

<!--
<nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #103a0b;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#">{{title}}</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/welcome']"[routerLinkActive]="['active']">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  [routerLink]="['/busquedaavanzada']"  [routerLinkActive]="['active']">Búsqueda Avanzada</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " [routerLink]="['/busqueda']"[routerLinkActive]="['active']">busqueda</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " [routerLink]="['/pruebas']"[routerLinkActive]="['active']">pruebas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " [routerLink]="['/contacto']"[routerLinkActive]="['active']">Contacto</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="nombre" name="prueba" (ngModelChange)=elementobuscar (keyup)="enviaBusqueda()" >
      <button class="btn btn-outline-success my-2 my-sm-0" id="prueba" type="submit"  [routerLink]="['/busquedaavanzada']"  [routerLinkActive]="['active']"  >Search</button>
    </form>
  </div>
</nav><div class="container-fluid"> <router-outlet></router-outlet> </div>

-->
