
.navbar{
    justify-content: space-between;
    background-color: rgb(62, 141, 146);
    color: rgb(201, 170, 71);
}

 span{
    padding-right: 1rem;
}
a{
    color: rgb(201, 170, 71); 
    padding-right: 1rem;
  
}