
.navbar{
    justify-content: space-between;
    background-color: #00cca3;
    color: #ffc808;
}
.mat-nav-list{
    justify-content: space-between;
    background-color: #00cca3;
    color: #ffc808;
}
 span{
    padding-right: 1rem;
}
a{
    color: #ffc808;
    padding-right: 1rem;

}
