
.navbar{
    justify-content: space-between;
    background-color: #01c5b1;
   /*color: #ffe010;*/

    background-color: #9ad3bc;
   color:#f5b461;
}
.mat-nav-list{
    justify-content: space-between;

}
 span{
    padding-right: 1rem;
}
a{
    color: #ffc808;
    padding-right: 1rem;

}
