<input type="text" id="namea" name="nameb" required
    minlength="4" maxlength="8" size="10" placeholder="introduzca texto" [(ngModel)]="titulo" (keyup)="getPeliculas(titulo)" >
    <div *ngFor="let film of films">
      <h4 class="prueba">
          <p> {{film.title}}</p>
<p><img src="https://image.tmdb.org/t/p/w1280/{{film.poster_path}}" style="width: 55vw; min-width: 330px;"></p>
          {{film.poster_path}}
      </h4>
    </div>


    <input type="text" id="namea" name="nameb" required
    minlength="4" maxlength="8" size="10" placeholder="introduzca texto" [(ngModel)]="titul" (keyup)="getLibros(titul) " >


    <div *ngFor="let titulo of titulopeliculas">
      <p>{{titulo}}</p>
    </div>






    <div *ngFor="let book of books">
      <h4 class="prueba">
        <p *ngIf="book.films!==undefined && book.films.total_pages>0">{{book.films.results[0].title}}</p>
        <p *ngIf="book.films!==undefined && book.films.total_pages>0">{{book.films.results[0].poster_path}}</p>
        <p *ngIf="book.films!==undefined && book.films.total_pages>0">{{book.films.results[0].poster_path}}</p>
        <p *ngIf="book.films.total_pages>0"><img src="https://image.tmdb.org/t/p/w1280/{{book.films.results[0].poster_path}}" width="30" height="30"></p>




        <!-- <p *ngIf="book.films!==undefined"><img src="https://image.tmdb.org/t/p/w1280/{{book.films.results[0].poster_path}}"></p>-->
        <!--<p>{{book.volumeInfo.datospeliculas.results.length}}</p>-->

        <p> {{book.volumeInfo['title']}}</p>
          <!--<p *ngIf="book.volumeInfo.datospeliculas.results.length>0">{{book.volumeInfo.datospeliculas.results[0].title}}</p>-->
         <!-- <p>{{book.volumeInfo.datospeliculas.results[0].title}}</p>-->
   <!-- <p><img src={{book.volumeInfo.imageLinks.thumbnail}}></p>-->
    <!--<p> {{book.volumeInfo.datospeliculas[0].title}}</p>-->
      </h4>


    </div>



