<p>busquedaavanzada works!</p>



<div>Busqueda por isbn<input type="text" id="busquedaisbn"  required
    minlength="4" maxlength="18" size="10" placeholder="introduzca texto"  [(ngModel)]="isbn" (keyup)="buscarporIsbn(isbn)">


    <div>Busqueda por isbn<input type="text" id="busquedaisbn"  required
      minlength="4" maxlength="18" size="10" placeholder="introduzca texto"  [(ngModel)]="author" (keyup)="buscarporIsbn(isbn)">

<div *ngFor="let book of books">
    <h4 class="prueba">
        <p> {{book.volumeInfo['title']}}</p>
  <p><img src={{book.volumeInfo.imageLinks.thumbnail}}></p>
  
    </h4>
  </div>

