.contenedor {
    display:flex;
    flex-direction: row;
    border-color: seagreen;
    
  }

.mat-card{
    width: 100%;
    margin-top: 1em;
    
    background-color: rgb(190, 212, 200);
    border-color: seagreen;
}
  
.mat-form-field{
   margin-right: 2em; 
   text-align: center;
}

.busqueda{
   margin: 0 auto;
   text-align: center;
}
.div{
    border-color: seagreen;
    background-color: seagreen;
}