.fxlayout{
  fill:turquoise;
  background-color: violet;
}

 .box {
  display: flex;
  background-color: violet;
}
.fxlayout,.flex-container{
  justify-content: center;
  background-color: violet;
}

html, body {
  height:100%;
  margin:0;
  padding:0;
}

.contenedor {
  display:flex;
  flex-direction: row;
 
}


.fila0{

  width: 20%;
  
}
.fila1{

  width: 80%;
}

.mat-card{
  margin-top: 2em;
  margin-right: 1em;
  width: 40%;

  
}
.mat-card-content{
  width: max-content;
  
  
}
.boton{
  width: 90%;
 
  text-align: left;
  background-color: red;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
}
.icono{
  text-align: right;
  align-items: flex-end;
 
}