.fxlayout{
  fill:turquoise;
  background-color: violet;
}

 .box {
  display: flex;
  background-color: violet;
}
.fxlayout,.flex-container{
  justify-content: center;
  background-color: violet;
}

html, body {
  height:100%;
  margin:0;
  padding:0;
}

.contenedor {
  display:flex;
  flex-direction: row;
  min-height:100%;
}


.fila0{

  width: 20%;

}
.fila1{

  width: 80%;
}

.mat-card{
  margin-top: 2em;

}