<div *ngIf="books.length>0">
  pruebagdf fgdfg
</div>


<div class="contenedor">
  <div class="fila0">
    <div>
      <h1>Listopia</h1>
    </div>
    <div><button mat-flat-button  class="boton" (click)="getSearchBooks(rings)">Romance<mat-icon class="icono">favorite</mat-icon></button></div> 
    <div><button mat-flat-button  class="boton" (click)="getSearchBooks(fantasy)">Fantasía<mat-icon>flash_on</mat-icon></button></div> 
    <div><button mat-flat-button  class="boton" (click)="getSearchBooks(historical)">Historia<mat-icon>history_edu</mat-icon></button></div> 
    <div><button mat-flat-button  class="boton" (click)="getSearchBooks(mystery)">Misterio<mat-icon >favorite</mat-icon></button></div> 
    <div><button mat-flat-button  class="boton" (click)="getSearchBooks(thriller)">Suspense<mat-icon>sentiment_very_dissatisfied</mat-icon></button></div> 
    <div><button mat-flat-button  class="boton" (click)="getSearchBooks(science)">Ciencia<mat-icon>biotech</mat-icon></button></div> 
    <div><button mat-flat-button  class="boton" (click)="getSearchBooks(sciFi)">Ciencia Ficción<mat-icon>android</mat-icon></button></div> 
    <div><button mat-flat-button  class="boton" (click)="getSearchBooks(travel)">Viajes<mat-icon>luggage</mat-icon></button></div> 
    <div><button mat-flat-button  class="boton" (click)="getSearchBooks(sport)">Deportes<mat-icon>fitness_center</mat-icon></button></div> 
    <div><button mat-flat-button  class="boton" (click)="getSearchBooks(pets)">Animales<mat-icon>pets</mat-icon></button></div> 

    

    Lorem fistrum ese que llega diodenoo incididunt magna quis va usté muy cargadoo velit llevame al sircoo labore. Ahorarr por la gloria de mi madre aliqua sed sed ut occaecat nostrud incididunt. Hasta luego Lucas condemor consequat irure nisi caballo blanco caballo negroorl pecador dolor te voy a borrar el cerito magna. Ad irure ahorarr no puedor la caidita. Esse sed aliquip officia ese hombree fistro no puedor elit. Nisi tempor ad consectetur no puedor me cago en tus muelas condemor benemeritaar.

      Qué dise usteer está la cosa muy malar quis sit amet sexuarl de la pradera ad quis ad. Me cago en tus muelas ex fistro occaecat está la cosa muy malar fistro. Amatomaa nisi a gramenawer veniam qui al ataquerl. La caidita quietooor et adipisicing caballo blanco caballo negroorl no puedor reprehenderit la caidita. Minim commodo a peich tempor aliquip mamaar. Ut la caidita occaecat dolore laboris veniam et labore hasta luego Lucas esse. Adipisicing irure incididunt ese pedazo de magna te voy a borrar el cerito caballo blanco caballo negroorl pecador veniam al ataquerl papaar papaar. Occaecat aliquip irure fistro te va a hasé pupitaa sit amet.

      Irure eiusmod esse mamaar voluptate papaar papaar ahorarr labore labore quis. Minim duis ese hombree hasta luego Lucas pecador no puedor por la gloria de mi madre. Está la cosa muy malar officia ese hombree ese hombree. Aute quietooor de la pradera consectetur. Por la gloria de mi madre sexuarl mamaar incididunt consectetur jarl sexuarl ex llevame al sircoo exercitation officia.
  </div>
  <div class="fila1">

<div *ngFor="let book of books">
  <p>{{book.volumeInfo.title}}</p>

</div>


  </div>
</div>

<!--<div class="example-container">
      <mat-form-field appearance="fill">
        <mat-label>Input</mat-label>
        <input matInput [(ngModel)]="titulo" (keyup)="getSearchBooks(titulo)" >
      </mat-form-field>
    </div>

    <mat-card>
      <input type="text" matInput [(ngModel)]="titulo" (keyup)="getSearchBooks(titulo)" >
    </mat-card>







    <div class="contenedor" *ngFor="let book of books" >
      <mat-card >
        <mat-card-header>
          <mat-card-title>{{book.volumeInfo.title}}</mat-card-title>
        </mat-card-header>
        <mat-card-content >
          <div fxLayout="row">
            <div  fxFlex="100%" *ngIf="book.volumeInfo.imageLinks!==undefined">
              <img src={{book.volumeInfo.imageLinks.thumbnail}}>
              <p></p>
            </div>
            <div  fxFlex="100%" *ngIf="book.volumeInfo.authors!==undefined" >
              <p>Author:{{book.volumeInfo.authors[0]}}</p>
              <p>{{book.volumeInfo.description}}</p>
            </div>
          </div>


        </mat-card-content>

      </mat-card>

      <mat-card *ngIf="book.films!==undefined && book.films.total_pages>0">
        <mat-card-header>
          <mat-card-title>{{book.films.results[0].title}}</mat-card-title>
        </mat-card-header>
          <mat-card-content>
            <div fxLayout="row">
              <div  fxFlex="100%" >
                <img src="https://image.tmdb.org/t/p/w1280/{{film.poster_path}}" >
                <p></p>
              </div>
              <div  fxFlex="100%"  >
                <p>Author:{{book.volumeInfo.authors[0]}}</p>
               <p>{{book.volumeInfo.description}}</p>
              </div>
            </div>
          </mat-card-content>

      </mat-card>
    </div>-->
