.fxlayout{
  fill:turquoise;
  background-color: violet;
}

 .box {
  display: flex;
  background-color: violet;
}
.fxlayout,.flex-container{
  justify-content: center;
  background-color: violet;
}

html, body {
  height:100%;
  margin:0;
  padding:0;
}

.contenedor {
  display:flex;
  flex-direction: row;
  border-color: seagreen;
  text-align: -webkit -center;
  margin-top: 1%;
  margin-left: 1%;
}


.fila0{

  width: 20%;

}
.fila1{

  width: 80%;
}


.boton{
  width: 90%;

  text-align: left;
  background-color:#6E16C4;
  color:#C1C40C;
  margin-left: 1%;
 
  margin-top: 1%;
 
}

.mat-divider{
  margin-top: 2em;
  margin-bottom: 2em;
}

.icon{
  font-size:10px;
}

.origin{
  text-align: left;

}

.busqueda{
  margin: 0 auto;
  text-align: center;
  margin-left: auto;
 margin-right: auto;
 
 }

 mat-form-field{
   margin-left: 1em;
   width: 130px;
 }
 .mat-card{
  width: 100%;
  margin-top: 1%;
  margin-left: 1%;
  background-color: #ede6f0;
  border-color: seagreen;
}

.mat-form-field{
 margin-right: 2em;
 text-align: center;
 margin-left: auto;
margin-right: auto;
}

.bubble{
  background-color: #e9dbdb;
  border-radius: 5px;
  box-shadow: 0 0 6px #B2B2B2;
  display: inline-block;
  padding: 10px 18px;
  position: relative;
  vertical-align: top;
  margin-left: 1em;
}
.frase{
  margin-left: 1em;
}

.input{
  margin-right: 1%;
  size: 50%;
}
