
<div class="contenedor">
  <div class="fila0">
    <div class="origin">
     <h1>¿Qué desea leer hoy?</h1>

    </div>
    <mat-divider></mat-divider>
    <div class="origin">
      <h1>Géneros</h1></div>
    <div><button mat-flat-button  class="boton" (click)="getSearchBooks(rings)">Romance<mat-icon class="icono">favorite</mat-icon></button></div>
    <div><button mat-flat-button  class="boton" (click)="getSearchBooks(fantasy)">Fantasía<mat-icon>flash_on</mat-icon></button></div>
    <div><button mat-flat-button  class="boton" (click)="getSearchBooks(historical)">Historia<mat-icon>history_edu</mat-icon></button></div>
    <div><button mat-flat-button  class="boton" (click)="getSearchBooks(mystery)">Misterio<mat-icon >favorite</mat-icon></button></div>
    <div><button mat-flat-button  class="boton" (click)="getSearchBooks(thriller)">Suspense<mat-icon>sentiment_very_dissatisfied</mat-icon></button></div>
    <div><button mat-flat-button  class="boton" (click)="getSearchBooks(science)">Ciencia<mat-icon>biotech</mat-icon></button></div>
    <div><button mat-flat-button  class="boton" (click)="getSearchBooks(sciFi)">Ciencia Ficción<mat-icon>android</mat-icon></button></div>
    <div><button mat-flat-button  class="boton" (click)="getSearchBooks(travel)">Viajes<mat-icon>flight_takeoff</mat-icon></button></div>
    <div><button mat-flat-button  class="boton" (click)="getSearchBooks(sport)">Deportes<mat-icon>fitness_center</mat-icon></button></div>
    <div><button mat-flat-button  class="boton" (click)="getSearchBooks(pets)">Animales<mat-icon>pets</mat-icon></button></div>
    <div><button mat-flat-button  class="boton" (click)="getSearchBooks(films)">Cine<mat-icon>theaters</mat-icon></button></div>


  </div>
  <div class="fila1">
    <div id="busqueda" fxLayout="row">
      <mat-form-field>
        <mat-label>
          Introduzca título
        </mat-label>
        <input matInput id="busquedaisbn" [(ngModel)]="titulo" (keyup)="getSearchBooks(titulo)">
      </mat-form-field>
      <mat-form-field>
        <mat-label>
          Introduzca isbn
        </mat-label>
        <input matInput id="busquedaisbn" [(ngModel)]="isbn" (keyup)="buscarporIsbn(isbn)">
      </mat-form-field>
      <mat-form-field>
        <mat-label>
          Introduzca autor
        </mat-label>
        <input matInput id="busquedagenero" [(ngModel)]="author" (keyup)="buscarporAutor(author)">
      </mat-form-field>
      <mat-form-field>
        <mat-label>
          Introduzca género
        </mat-label>
        <input matInput id="busquedagenero"  [(ngModel)]="genero" (keyup)="buscarporGenero(genero)">
      </mat-form-field>
      <mat-form-field>
        <mat-label>
          Introduzca editorial
        </mat-label>
        <input matInput id="busquedaeditorial"  [(ngModel)]="editorial" (keyup)="buscarporEditorial(editorial)">
      </mat-form-field>
    </div>
    <div  *ngIf="books.length==0">
    <div class="frase" >
    <p>Frase del día</p>
    </div>
    <div class="bubble you" >
      {{frasemostrar}}

    </div>
    <div class="frase">
      <p>Nuestras recomendaciones</p>
    </div>


    <div class="contenedor" *ngFor="let book of recomendaciones" >
      <mat-card class="mat-elevation-10">
        <mat-card-header>
          <mat-card-title>{{book.volumeInfo.title}}</mat-card-title>
        </mat-card-header>
        <mat-card-content >
          <div fxLayout="row">
            <div  fxFlex="130px" *ngIf="book.volumeInfo.imageLinks!==undefined">
              <img src={{book.volumeInfo.imageLinks.thumbnail}}>
              <p *ngIf="book.volumeInfo.averageRating!==undefined">{{book.volumeInfo.averageRating}}</p>
            </div>
            <div  fxFlex="100%" *ngIf="book.volumeInfo.authors!==undefined" >
              <p><strong>Autor:</strong>{{book.volumeInfo.authors[0]}}</p>
              <p><strong>Sinopsis:</strong>{{book.volumeInfo.description}}</p>
            </div>
          </div>


        </mat-card-content>

      </mat-card>
    </div>
  </div>

    <div class="contenedor" *ngFor="let book of books" >
      <mat-card class="mat-elevation-10">
        <mat-card-header>
          <mat-card-title>{{book.volumeInfo.title}}</mat-card-title>
        </mat-card-header>
        <mat-card-content >
          <div fxLayout="row">
            <div  fxFlex="130px" *ngIf="book.volumeInfo.imageLinks!==undefined">
              <img src={{book.volumeInfo.imageLinks.thumbnail}}>
              <p *ngIf="book.volumeInfo.averageRating!==undefined">{{book.volumeInfo.averageRating}}</p>
            </div>
            <div  fxFlex="100%" *ngIf="book.volumeInfo.authors!==undefined" >
              <p><strong>Autor:</strong>{{book.volumeInfo.authors[0]}}</p>
              <p><strong>Sinopsis:</strong>{{book.volumeInfo.description}}</p>
            </div>
          </div>


        </mat-card-content>

        <mat-card-footer *ngIf="book.films!==undefined && book.films.results.length>0">

         <strong>Películas relacionadas con {{book.volumeInfo.title}}</strong> {{book.films.results[0].title}}
        </mat-card-footer>
      </mat-card>
    </div>



  </div>
</div>
